@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

.render-pixel {
  image-rendering: pixelated;
}
.grid-cols {
  grid-template-columns: repeat(3, 304px);
  aspect-ratio: auto;
}
