@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@layer base {
  :root {
    --background: oklch(100% 0 0deg);
    --section-background: oklch(96.68% 0.0044 179.73deg);
    --foreground: oklch(31% 0.01 84.57deg);
    --card: oklch(94% 0.01 112.37deg);
    --card-foreground: oklch(31% 0.01 84.57deg);
    --popover: oklch(94% 0.01 112.37deg);
    --popover-foreground: oklch(31% 0.01 84.57deg);
    --primary: oklch(52.13% 0.0288 177.47deg);
    --primary-foreground: oklch(100% 0 0deg);
    --secondary: oklch(92% 0.01 167.16deg);
    --secondary-foreground: oklch(38% 0.04 165.64deg);
    --muted: oklch(91% 0.02 106.71deg);
    --muted-foreground: oklch(46% 0.03 92.72deg);
    --accent: oklch(66% 0.1317 169.1235deg);
    --accent-foreground: oklch(94% 0.01 112.37deg);
    --destructive: oklch(58% 0.1677 23.29deg);
    --destructive-foreground: oklch(100% 0 0deg);
    --border: oklch(93% 0.01 182.77deg);
    --input: oklch(86% 0.02 110.11deg);
    --ring: oklch(47% 0.05 164.39deg);
    --chart-1: oklch(61% 0.06 163.7deg);
    --chart-2: oklch(52% 0.05 164.51deg);
    --chart-3: oklch(47% 0.05 164.39deg);
    --chart-4: oklch(38% 0.04 165.64deg);
    --chart-5: oklch(23% 0.02 168.57deg);
    --sidebar: oklch(91% 0.02 106.71deg);
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --title-color: oklch(52.13% 0.0288 177.47deg);
    --description-color: oklch(0% 0 0deg);
    --bar-color: oklch(51.61% 0.002 145.55deg);
    --light-bar-color: oklch(88.53% 0 0deg);
    --font-sans: 'Montserrat', sans-serif;
    --font-serif: 'Noto Serif', serif;
    --font-inter: 'Inter', sans-serif;
    --font-mono: source code pro, monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0deg 0% 10.2% / 5%);
    --shadow-xs: 0 1px 3px 0px hsl(0deg 0% 10.2% / 5%);
    --shadow-sm:
      0 1px 3px 0px hsl(0deg 0% 10.2% / 10%),
      0 1px 2px -1px hsl(0deg 0% 10.2% / 10%);
    --shadow:
      0 1px 3px 0px hsl(0deg 0% 10.2% / 10%),
      0 1px 2px -1px hsl(0deg 0% 10.2% / 10%);
    --shadow-md:
      0 1px 3px 0px hsl(0deg 0% 10.2% / 10%),
      0 2px 4px -1px hsl(0deg 0% 10.2% / 10%);
    --shadow-lg:
      0 1px 3px 0px hsl(0deg 0% 10.2% / 10%),
      0 4px 6px -1px hsl(0deg 0% 10.2% / 10%);
    --shadow-xl:
      0 1px 3px 0px hsl(0deg 0% 10.2% / 10%),
      0 8px 10px -1px hsl(0deg 0% 10.2% / 10%);
    --shadow-2xl: 0 1px 3px 0px hsl(0deg 0% 10.2% / 25%);
    --sidebar-background: 0 0% 98%;
  }

  /* 
  ==========================================
  Тёмная тема (активируется если в стили добавлен класс 'dark')
  Цвета аналогичные, но под тёмную тему.
  Пример, установить родительскому контейнеру класс 'dark' <div class="dark">...
  ==========================================
  */
  .dark {
    --background: oklch(26% 0.01 176.3deg);
    --foreground: oklch(91% 0.01 106.64deg);
    --card: oklch(32% 0.01 164.31deg);
    --card-foreground: oklch(91% 0.01 106.64deg);
    --popover: oklch(32% 0.01 164.31deg);
    --popover-foreground: oklch(91% 0.01 106.64deg);
    --primary: oklch(61% 0.06 163.7deg);
    --primary-foreground: oklch(23% 0.02 168.57deg);
    --secondary: oklch(38% 0.01 164.47deg);
    --secondary-foreground: oklch(86% 0.01 157.06deg);
    --muted: oklch(32% 0.01 164.31deg);
    --muted-foreground: oklch(83% 0.02 110.61deg);
    --accent: oklch(52% 0.05 164.51deg);
    --accent-foreground: oklch(91% 0.01 106.64deg);
    --destructive: oklch(58% 0.07 64.9deg);
    --destructive-foreground: oklch(91% 0.07 106.64deg);
    --border: oklch(38% 0.01 164.47deg);
    --gray: oklch(22.47% 0.045 183.14deg);
    --input: oklch(38% 0.01 164.47deg);
    --ring: oklch(61% 0.06 163.7deg);
    --chart-1: oklch(72% 0.05 164.55deg);
    --chart-2: oklch(67% 0.06 164.27deg);
    --chart-3: oklch(61% 0.06 163.7deg);
    --chart-4: oklch(57% 0.06 164.35deg);
    --chart-5: oklch(52% 0.05 164.51deg);
    --sidebar: oklch(26% 0.01 176.3deg);
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --bar-color: oklch(51.61% 0.002 145.55deg);
    --title-color: oklch(52.13% 0.0288 177.47deg);
    --light-bar-color: oklch(11.47% 0 0deg);
    --description-color: oklch(100% 0 0deg);
    --font-sans: montserrat, sans-serif;
    --font-serif: 'Noto Serif', serif;
    --font-mono: source code pro, monospace;
    --font-inter: 'Inter', sans-serif;
    --radius: 0.5rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0deg 0% 10.2% / 5%);
    --shadow-xs: 0 1px 3px 0px hsl(0deg 0% 10.2% / 5%);
    --shadow-sm:
      0 1px 3px 0px hsl(0deg 0% 10.2% / 10%),
      0 1px 2px -1px hsl(0deg 0% 10.2% / 10%);
    --shadow:
      0 1px 3px 0px hsl(0deg 0% 10.2% / 10%),
      0 1px 2px -1px hsl(0deg 0% 10.2% / 10%);
    --shadow-md:
      0 1px 3px 0px hsl(0deg 0% 10.2% / 10%),
      0 2px 4px -1px hsl(0deg 0% 10.2% / 10%);
    --shadow-lg:
      0 1px 3px 0px hsl(0deg 0% 10.2% / 10%),
      0 4px 6px -1px hsl(0deg 0% 10.2% / 10%);
    --shadow-xl:
      0 1px 3px 0px hsl(0deg 0% 10.2% / 10%),
      0 8px 10px -1px hsl(0deg 0% 10.2% / 10%);
    --shadow-2xl: 0 1px 3px 0px hsl(0deg 0% 10.2% / 25%);
    --sidebar-background: 240 5.9% 10%;
  }
}
